#fullScreenErrorMsg {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 1;
  }

#fullScreenErrorWrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}